@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.redButton {
  background-color: #ef4444;
  color: #ffffff;
}

.redButton:hover {
  background-color: #dc2626; /* Warna merah yang lebih gelap saat tombol disorot */
}
